.github/
venv/
.idea/
.run/
__pycache__/
build/
dist/
server/
*.zip
*.exe
recognize/
src/__pycache__/
src/model/__pycache__/
src/view/__pycache__/
src/controller/__pycache__/
src/model/img.py
data/
data1/
options.json
logcat.txt
latest.txt
ftpconfig.py
*.apk
