.github/
venv/
.idea/
__pycache__/
build/
dist/
*.exe
recognize/rus/
recognize/eng/
src/__pycache__/
src/model/__pycache__/
src/view/__pycache__/
src/controller/__pycache__/
data/*.zip
data/*.jpg
data/*/
options.json
logcat.txt