.github/
venv/
.idea/
__pycache__/
src/__pycache__/
src/model/__pycache__/
src/view/__pycache__/
src/controller/__pycache__/
data/FRAGMENT_-_The_Ego_Machine/
data/Kafka_Franz_-_The_Metamorphosis/
data/Kuttner_Henry_-_The_Ego_Machine/
data/Lewis_Carroll_-_Alices_adventures_in_Wonderland/
data/Wells_Herbert_-_The_Time_Machine/
options.json
logcat.txt
syncbooker.apk